<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Travel2gether</title>
  </head>
  <body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 8px 16px;">
      <div class="container-fluid">
        <img src="assets/img/slogen.png" style="padding-right: 25px;" alt="Logo and slogen" height="60">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav" >
          <ul class="navbar-nav nav-tabs">
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link" [routerLink]="['/home']">Főoldal</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link" [routerLink]="['/news']">Hírek</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/offers']">Ajánlatok</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/domesticoffers']">Irány belföld!</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/creator']">Létrehozás</a>
            </li>
          <!--  <li class="nav-item">
              <a class="nav-link" href="#">Térkép</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Élménybeszámolók</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Travel Roulette</a>
            </li>
            <li class="nav-item">
             <a class="nav-link" [routerLink]="['/search']">Keresés</a>
             <form action="/action_page.php">
              <input type="text" placeholder="Keresés.." name="search" id="search_text" autofocus>
              <button type="submit" class="btn btn bg-light" id="search_button" (mouseover)="searchshow()" (mouseout)="searchnoshow()"><i class="fa fa-search" [routerLink]="['/search']"></i></button>
            </form>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" [routerLink]="['/login']">Belépés</a>
            </li>-->
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>