body{
    width:100%;
    position: relative;
    
}

span::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #fcb900;
    left: 0;
    margin-right: 5px;
    border-radius: 50%;
}

span {
    font-size: 20px;
    cursor: pointer;
}

.searchpart{
    height: 50px;
    width: 100%;
    margin: 20px 100px 0 0;
    border-bottom: 1.5px solid rgb(0, 195, 255);
}

#searchbar{
    margin: 10px;
    padding: 10PX;
    border-radius: 5px;
    display: none;
    opacity: 0;
    background-color: rgb(243, 243, 243);
    position: absolute;
    z-index: 2;
}

.card{
    border: transparent; 
    height: 400px;
}

.card-title, .card-text{
    text-align: center;
}

.check-out{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
    color: rgb(3, 185, 240);
    text-align: center;
    display: block;
}